body{
    margin: 0 auto;
    /*border: red 2px solid;*/
    max-width: 50vh;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}
.section-one{
    display: flex;
    /*border: blue 2px solid;*/
    justify-content: space-between;
    line-height: 5vh;
}
.section-one-part-one{
    display: flex;
}
.section-one-part-two{
    display: flex;
}
.section-one-home{
    margin-right: 1.25em;
    font-weight: 400;
}
h2 , .today-date, .section-two-p, footer h3{
    font-size: 0.625rem;
}
.fa-solid{
    margin: auto;
}
.today-date{
    margin-bottom: 0;
}
h1{
    font-size: 0.94rem;
    margin-top: 2px;
}
.section-two-p{
    margin-top: 0.125em;
}

.section-two-img-container{
    position: relative;
}
.section-description{
    position: absolute;
    top: 45px;
    margin: 3px 10px;
    color: white;
}
.section-three{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 16px;
}
.section-three-img{
    margin: 0.625em auto 0 auto;
    border-radius: 2%;
}
.section-three-p, .section-three-h2, a{
    font-size: 0.75rem;
    margin-top: 0;
}
.section-three-h2{
    margin-top: 0.313em;
    font-weight: 900;
}


a{
    color: black;
    font-weight: 900;
    margin: 0 auto;
}
a:hover{
    border-bottom: 2px solid blue;
    text-decoration: none;
}
footer{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
}
footer h3{
    margin-bottom: 0;
}
footer p{
    margin-top: 0.188em;
    font-size: 0.5rem;
}